<?xml version="1.0" encoding="UTF-8"?>
<configuration monitorInterval="30" status="warn">

    <appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %c{1}:%L - %m%n" />
        </Console>
        <RollingFile name="RollingFile" fileName="openweather.log" filePattern="openweather-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout>
                <pattern>%d{yyyy-MM-dd HH:mm:ss,SSS} %5p %c{1}:%L - %m%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </appenders>
	
    <loggers>
        <logger name="de.ww.adressenpf" level="debug" />
        <logger name="net.sourceforge.spnego" level="info" />
        <logger name="org.hibernate.engine" level="error" />
        <logger name="org.hibernate.SQL" level="debug" />
        <logger name="org.hibernate.type" level="info" />
        <logger name="org.hibernate.cache" level="info" />
        <logger name="org.hibernate.id" level="debug" />
        <logger name="org.springframework" level="info" />
        <root level="debug">
            <appender-ref ref="STDOUT" />
            <appender-ref ref="RollingFile" />
        </root>
    </loggers>

</configuration>
