<!-- Global nutzbares Template fuer die Loeschabfrage -->
<div class="modal-header">
	<h3 class="modal-title" id="modal-title"><i class="fa fa-exclamation-triangle text-warning"></i> L&ouml;schen best&auml;tigen</h3>
</div>
<div class="modal-body" id="modal-body">
	{{deleteNote || 'Sind Sie sicher, dass der Datensatz unwiderruflich gelöscht werden soll?'}}
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" data-ng-click="ok()">Ja</button>
	<button class="btn btn-default" type="button" data-ng-click="cancel()">Nein</button>
</div>

