/*
Wegen UI-Bootstrap
siehe https://angular-ui.github.io/bootstrap/
*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
  margin: 20px;
}

.h1 {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 24px;
  color: #555555;
}

.bm-book-title {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #555555;
}

.bm-book-subtitle {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.bm-book-isbn {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.bm-book-num-pages {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.bm-book-author {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.bm-book-publisher-name {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.bm-book-abstract {
  font-family: "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  color: #555555;
}

.split-screen {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    width: 48%;
}

.simple-border {
    border: black dashed 1px;
}

.padded {
    padding: 10px;
}

form input.ng-invalid.ng-dirty {
    background-color: #ffcbc1;
}

form input.ng-invalid:focus {
    outline-color: red;
}

form input.ng-valid.ng-dirty {
    background-color: #e5ffcc;  /* #1dca07; */
}
